body {
	background: rgb(23, 71, 99); 
	font-family: Geneva, Arial, Helvetica, sans-serif;
}

button {
    display: inline-block;
    color: white;
    font-weight: 700;
    text-decoration: none;
    user-select: none;
    padding: .5em 2em;
    outline: none;
    border: 2px solid;
    border-radius: 1px;
    transition: 0.2s;
  } 
  button:hover { background: rgba(255,255,255,.2); }
  button:active { background: white; }

.text_container {
	width: 700px;
	margin: 20px auto 50px;
	text-align: center;
    color: #fff8f1;
    padding-top: 140px;
}

#title {
	font-size: 50px;
	margin-bottom: 30px;
}

#host {
	font-family: Consolas, monaco, monospace;
	font-size: 18px;
	line-height: 1.4; 
}

#cat_container {
	text-align: center;
}

.cat {
	display: inline-block;
	margin: 0 30px;
}

.thing_container {
	margin: 30px;
}
